EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_SUPABASE_URL=https://dnlggmudhptukgkugpvv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRubGdnbXVkaHB0dWtna3VncHZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MDYzNDUsImV4cCI6MjA5MTI4MjM0NX0.odFd57lhGcIQIUcAMLFrhEuZhmonL-tVLfIgf1dZ3Sw
